<!DOCTYPE html>
<html lang="en">
  
<head>
   <meta charset="UTF-8" />
   <title>About</title>
   <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
   <link rel="stylesheet" href="css/site.css" type="text/css" />
   <link href='//fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
</head>
<body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>myApp</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Fernando Henrique Zavalloni Proto - "the developer"</h2>
					<p>Hi There,</p>
					<p>My name is Fernando Henrique Zavalloni Proto. I am Bachelor of Geography and currently, I am studying Computer Programming at Seneca College. I have professional experience in GIS and Business Intelligence and my goals for this years is learning more about programming to apply my knowledge to build analytics and mapping application and to become a GIS Developer. I am specially interested in JavaScript, Python, C# and Java and all libraries and frameworks related to these languages.</p>
					<p>Enjoy browsing my app! If you have any question, please contact by e-mail at <a href="mailto:fhzavalloni-proto@myseneca.ca">fhzavalloni-proto@myseneca.ca</a>.</p>
                    <p>Kind Regars,</p>
                    <p>Fernando Henrique Zavalloni Proto</p>
					</article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>©	2017 - Fernando Henrique Zavalloni Proto</h2>
			</div>
		</div>
	</div>
   </footer>
</body>
</html>